@import "vars";

.delete {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;

  &__modal {
    position: absolute;
    top: 30%;
    left: 40%;
    padding: 22px 0 27px 0;
    background-color: #fff;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.15);
    width: 450px;

    @media (max-width: 1400px) {
      left: 30%;
    }

    @media (max-width: 900px) {
      left: 20%;
    }

    @media (max-width: 700px) {
      left: 10%;
    }

    @media (max-width: 500px) {
      width: 300px;
      left: 20%;
    }

    @media (max-width: 400px) {
      left: 10%;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__title {
    margin: 0 0 11px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: $textPrimary;
  }

  &__close {
    position: absolute;
    right: 14px;
    top: 1px;
  }

  &__subtitle {
    margin: 0 0 25px 0;
    max-width: 275px;
    font-size: 14px;
    line-height: 19px;
    color: $textPrimary;
    text-align: center;
  }

  &__btn {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    padding: 12.5px 35px;
    background-color: $firmPrimary;
    max-width: 147px;
    margin-bottom: 5px;
    transition: all .3s ease-in-out;

    &:hover {
      background-color: #B89EFF;
    }

    &:active {
      background-color: #8052FF;
    }

    &:disabled {
      background-color: #C8C5D1;
    }
  }

  &__cancel {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $textPrimary;
    text-decoration: underline;
  }
}
